{% extends 'accounts/base.html' %}
{% block container_content %}


    <form method="POST">
        {% csrf_token %}

        {# Ref. https://www.webforefront.com/django/formtemplatelayout.html #}
        {% for field in login_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field.as_widget }}
                <small id="{{ field.auto_id }}Help" class="form-text text-muted">{{ field.help_text }}</small>
            </div>
        {% endfor %}

        <input type="submit" value="로그인" class="btn btn-primary btn-lg btn-block">
        <input type="button" onclick="location.href='{% url 'accounts:signup' %}' " value="회원가입"
               class="btn btn-outline-success btn-lg btn-block">
    </form>

{% endblock %}