{% extends 'accounts/base.html' %}
{% block container_content %}

    <form id="change-password-form" method="POST" action="{% url 'accounts:password_change' %}">
        {% csrf_token %}
        <div class="jumbotron">
            <h2>비밀번호 변경 </h2>

            <hr class="my-4">

            {# Ref. https://www.webforefront.com/django/formtemplatelayout.html #}
            {% for field in password_change_form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.as_widget }}
                    <small id="{{ field.auto_id }}Help" class="form-text text-muted">{{ field.help_text }}</small>
                </div>
                {% if forloop.first %}
                    <hr class="my-3"/>
                {% endif %}
            {% endfor %}

        </div>


        <input type="submit" id="change-password-submit-btn" value="비밀번호 변경" class="btn btn-lg btn-block btn-success">
        <a href="{% url 'accounts:view_profile' %}" class="btn btn-lg btn-block btn-outline-secondary">취소</a>
    </form>


{% endblock %}