{# [START] message #}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{# [END] message #}

<form method="post">
    <form action="{% url 'accounts:update_profile' %}" method="POST">
        {% csrf_token %}
        {{ user_update_form.as_p }}
        <button type="submit">Save changes</button>
    </form>
</form>
<!-- todo: Add password validation -->
<input type="button" onclick="location.href='{% url 'accounts:view_profile' %}' " value="취소">