{% extends 'accounts/base.html' %}
{% block container_content %}


    <table id="profile-table">
        <tr>
            <th>ID</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>이름</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            {% if user.role == "학생" %}
                <th>학번</th>
            {% elif user.role == "교수" %}
                <th>직번</th>
            {% else %}
                <th>번호</th>
            {% endif %}
            <td>{{ user.id_number }}</td>
        </tr>
        <tr>
            <th>신분</th>
            <td>{{ user.role }}</td>
        </tr>

    </table>

    <input type="button" onclick="location.href='{% url 'accounts:update_profile' %}' " value="프로필 수정">
    <input type="button" onclick="location.href='{% url 'accounts:password_change' %}' " value="비밀번호 변경">
{% endblock %}