{% extends 'accounts/base.html' %}
{% block container_content %}


    <div class="jumbotron">
        <h1 class="display-">프로필</h1>
        <hr class="my-4">

        <dl class="row">

            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-4">{{ user.username }}</dd>

            <dt class="col-sm-2">이름</dt>
            <dd class="col-sm-4">{{ user.name }}</dd>

            {% if user.role == "학생" %}
                <dt class="col-sm-2">학번</dt>
            {% elif user.role == "교수" %}
                <dt class="col-sm-2">직번</dt>
            {% else %}
                <dt class="col-sm-2">번호</dt>
            {% endif %}
            <dd class="col-sm-4">{{ user.id_number }}</dd>

            <dt class="col-sm-2">신분</dt>
            <dd class="col-sm-4">{{ user.role }}</dd>
        </dl>

        <input type="button" onclick="location.href='{% url 'accounts:update_profile' %}' " value="프로필 수정"
               class="btn btn-lg btn-block btn-success">
        <input type="button" onclick="location.href='{% url 'accounts:password_change' %}' " value="비밀번호 변경"
               class="btn btn-lg btn-block btn-warning">
    </div>
{% endblock %}