{% extends 'lecture/base.html' %}

{% block container_content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lecture:index' %}">강의 홈</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lecture:course_index' course.id %}">강의 게시판</a></li>
            <li class="breadcrumb-item active" aria-current="page">강의 게시글 수정</li>
        </ol>
    </nav>

    <h2 class="display-2">{{ notice.title }}</h2>
    <small>작성자: {{ notice.publisher.profile.name }}({{ notice.publisher.profile.get_role_display }})</small>
    <hr class="my-4">

    <dl class="row">
        <dt class="col-3 col-sm-2">등록일시</dt>
        <dd class="col-9 col-sm-4">{{ notice.pub_dt }}</dd>

        <dt class="col-3 col-sm-2">수정일시</dt>
        <dd class="col-9 col-sm-4">{{ notice.edit_dt }}</dd>


        <dt class="col-3 col-md-2">첨부파일</dt>
        <dd class="col-9 col-md-10">
            <dl class="row">
                {% for file in notice.file %}
                    <dd class="col-sm-12">{{ file }}</dd>
                {% endfor %}
            </dl>
        </dd>
    </dl>

    <hr class="my-4">

    {{ notice.content }}

    <hr class="my-4">
    <a href="{% url 'lecture:notice_comment' course.id notice.id %}"
       class="btn btn-outline-dark btn-lg btn-block">댓글보기</a>
    {% if notice.publisher_id == user.id %}
        <br>
        <div class="d-flex">
            {# TODO: modify url #}
            <a href="{% url 'accounts:view_profile' %}" class="btn btn-outline-warning btn-lg col-6">수정</a>
            <a href="{% url 'accounts:view_profile' %}" class="btn btn-outline-danger btn-lg col-6">삭제</a>
        </div>
    {% endif %}
{% endblock %}