{% extends 'lecture/base.html' %}

{% block container_content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'lecture:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lecture:course_index' course.id %}">강의 </a></li>
            <li class="breadcrumb-item active" aria-current="page">공지 게시글 목록</li>
        </ol>
    </nav>

    <div id="notice-list-group" class="list-group">
        <a href="{% url 'lecture:notice_index' course.id %}" class="list-group-item list-group-item-action active">
            <h3 class="align-items-center">공지</h3>
        </a>
        {% if notices %}
            {% for notice in notices %}
                <a href="{% url 'lecture:notice_read' course.id  notice.id %}"
                   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ notice.title }}</h5>
                        <small>{{ notice.pub_dt | timesince }} 이전</small>
                    </div>
                    <p class="mb-1">{{ notice.content | truncatechars:15 }}</p>
                    <small>{{ notice.publisher.profile.name }}</small>
                </a>
            {% endfor %}
            </div>
        {% else %}
            <div class="list-group-item list-group-item-action">
                <h5>등록된 게시물이 없습니다...</h5>
            </div>
        {% endif %}
    {% if course.professor.id == user.id %}
        <a href="{% url 'lecture:notice_create' course.id %}"
           class="btn btn-outline-success btn-lg btn-block">공지 게시물 등록</a>
    {% endif %}

{% endblock %}