{% extends 'lecture/base.html' %}
{% block container_content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'lecture:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">강의 생성</li>
        </ol>
    </nav>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="jumbotron">
            {% for field in course_form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.as_widget }}
                    <small id="{{ field.auto_id }}Help" class="form-text text-muted">{{ field.help_text }}</small>
                </div>
            {% endfor %}
        </div>
        <hr class="my-4">
        <input type="submit" value="등록" class="btn btn-success btn-lg btn-block">
        <a href="{% url 'lecture:index' %}" class="btn btn-outline-danger btn-lg btn-block">취소</a>
    </form>

{% endblock %}